*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(27, 27, 27);
    --light-color: rgb(190, 190, 190);
    --water: rgb(92, 182, 255);
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
}
.boards {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.board {
    width: 417px;
    height: 417px;
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    border: 4px solid var(--main-color);
    border-radius: 1%;
}
.hide {
    display: none;
}

.fleet {
    width: 212px;
    height: 212px;
    background-color: var(--main-color);
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    border: 4px solid var(--main-color);
    border-radius: 1%;
}

.fleet-div {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
}

.cell {
    width: 40px;
    height: 40px;
    border-radius: 5%;
    background-color: var(--water);
}

#hit {
    background-color: red;
}

#missed {
    background-color: var(--light-color);
}

.ship {
    background-color: rgb(110, 0, 0);
}