* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #212121;
  --background-color: #323232;
  --light-color: rgb(241, 241, 241);
  --missed-cell: rgb(101, 101, 101);
  --accent-color: #0d7377;
  --accent-neon: #14ffec;
}

body {
  background-color: var(--background-color);
}

h1 {
  font-size: 50px;
  text-align: center;
  padding: 50px 0;
  text-shadow: 0px 0px 6px var(--accent-neon);
}
.boards {
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.board {
  width: 413px;
  height: 413px;
  background-color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  border: 2px solid var(--light-color);
  box-shadow: 0px 0px 18px -8px var(--accent-neon);
}

.fleet {
  width: 212px;
  height: 212px;
  background-color: var(--light-color);
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  border: 4px solid var(--light-color);
}

.fleet-div {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: var(--background-color);
  transition: all 600ms;
}
.cell:hover {
  background-color: var(--accent-neon);
}

#hit {
  background-color: var(--accent-neon);
}

#missed {
  background-color: var(--missed-cell);
}

.ship {
  background-color: var(--accent-color);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.restart-screen {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.winner {
  color: var(--accent-neon);
  font-size: 40px;
}
